In [2]:
import pandas as pd

경기도지산 = pd.read_csv('/Users/parkjunhyeok/콤파스_크롤링_전처리및상권정보가공/경기도지식산업체.csv')

In [7]:
의왕시_지산 = 경기도지산[경기도지산['시군명']=='의왕시']

In [ ]:
군포시_지산 = 경기도지산[경기도지산['시군명']=='군포시' ]

In [13]:
군포_의왕_지산 = 경기도지산[(경기도지산['시군명'] == '군포시') | (경기도지산['시군명'] == '의왕시')]

In [ ]:
군포_의왕_지산.describe()

,위도,경도,부지면적(㎡),건축면적(㎡),공장시설면적(㎡),기타산업시설면적(㎡),지원시설면적(㎡),공동시설면적(㎡),유치가능업체수,입주업체수,공장동수,공실률
count,42.000000,42.000000,42.000000,42.000000,42.000000,0.0,42.000000,0.0,42.000000,42.000000,42.000000,42.000000
mean,37.360336,126.956739,6064.595238,33570.926190,22468.676429,NaN,10235.024524,NaN,146.023810,123.857143,1.166667,20.143861
std,0.015449,0.012058,6374.558261,39499.995099,32404.888200,NaN,13410.002988,NaN,185.974098,173.230929,0.659514,20.969245
min,37.326820,126.941036,372.000000,961.000000,661.000000,NaN,300.000000,NaN,6.000000,3.000000,1.000000,0.000000
25%,37.353533,126.949268,2024.500000,6287.500000,4136.000000,NaN,1963.750000,NaN,17.250000,13.500000,1.000000,1.951872
50%,37.357026,126.953821,4456.500000,26556.860000,14150.895000,NaN,4796.500000,NaN,56.500000,46.000000,1.000000,14.119778
75%,37.368642,126.962211,8088.000000,37896.750000,24659.975000,NaN,15076.370000,NaN,203.750000,172.500000,1.000000,30.769231
max,37.401797,126.991018,29410.000000,199116.930000,189444.940000,NaN,73746.000000,NaN,825.000000,818.000000,4.000000,76.923077

In [9]:
군포시_지산['공실률'].describe()

count    29.000000
mean     20.965446
std      20.745412
min       0.000000
25%       2.352941
50%      18.181818
75%      30.769231
max      76.923077
Name: 공실률, dtype: float64

In [10]:
의왕시_지산['공실률'].describe()

count    13.000000
mean     18.311095
std      22.200632
min       0.000000
25%       1.818182
50%       9.090909
75%      24.390244
max      71.875000
Name: 공실률, dtype: float64

In [17]:
군포_의왕_지산.to_csv('/Users/parkjunhyeok/콤파스_크롤링_전처리및상권정보가공/군포_의왕_지산.csv', index=False)